---
name: ci
on: [push]
jobs:
  tests:
    name: 'Run test suite'
    runs-on: 'ubuntu-latest'
    steps:
    - name: 'Setup | Checkout'
      uses: 'actions/checkout@v3'
    - name: 'Setup | Prerequisites'
      run: "sudo bash -c 'apt update && DEBIAN_FRONTEND=noninteractive apt install -y g++ build-essential cmake valgrind libgtest-dev cppcheck'"
    - name: 'Setup | Build'
      run: 'mkdir build && cd build && cmake ../ && make -j 4'
    - name: 'Run tests'
      run: 'CTEST_OUTPUT_ON_FAILURE=1 ctest'

